* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #666;
}
img {
  display: block;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
input {
  outline: none;
}
